
  header {
    height: 30vh;
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
   
    


   }
   .masthead {
    height: 100px;
    min-height: 450px;
    background-image: url('src\assets\images\computer-2982270_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
 .row {
    display: block;
    overflow: hidden; 
   }
 
 .imagegroup {
    display: flex;
    width: 100%;
   }
 
 .imagegroup img{
   flex-shrink: 0;
   object-fit: cover;
   border: 3px solid white;
 }
 
 .imagegroup {
    animation: travel 20 ease-in-out infinite;
   }
 
 @keyframes travel {
    0%, 100% {
       transform: translate3d(0,0,0);
     }
    50% {
       transform: translate3d(-100%,0,0);
     }
  }
  .container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 50%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  

  }
 
/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 46px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 100px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

  /* #hero {
    width: 70%;
    height: 50vh;
    background: url("src\assets\images\industry.jpg") top center;
    background-size: cover;
    position: relative;
padding-right: 10%;
  }
  #hero .h2 {
  color:rgba(253, 229, 7, 0.534);
    margin: 20px;
    padding-left: 190px;
  }
  */
