<section class="logo-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/bluehost-logo.png" class="img-fluid" alt="Bluehost logo"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/hostgator-logo.png" class="img-fluid" alt="Hostgator logo"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/greengeeks-logo.png" class="img-fluid" alt="Green Geeks logo"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/wordpress-logo.png" class="img-fluid" alt="WordPress logo"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/dreamhost-logo.png" class="img-fluid" alt="DreamHost logo"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="https://www.markuptag.com/images/hostinger-logo.png" class="img-fluid" alt="Hostinger logo"></a>
            </div>
        </div>
    </div>
</section>
<div class="navsection">
    <div class="container">

    </div>
</div>
<div class="container" id="topsections">
    <!-- <div class="searchitems">
        <form action="" method="post">
            <div class="form-group">
                <label for="searchitem">search item by price,category,description</label>
                <input type="search" name="searchitem" id="searchitem" class="shadow-none form-control" placeholder="Enter item name,category...">
            </div>
        </form>
    </div> -->
    <div class="col-lg-12">
        <!-- <div class="md-form">
            <input type="search" [(ngModel)]="searchText" placeholder="Search text">
          </div> -->
          <ul *ngFor="let user of usersArray | filter: searchText">
            <li>{{user}}</li>
          </ul>
    <div class="products">
        <div class="card" *ngFor="let product of products    filter:filteredString; let i = index">
            <!-- product-image -->
            <div class="productimage">
                <img src="{{ product.image }}" height="100%" width="100%" alt="">
            </div>
            <div class="card-body p-4">
                <!-- product name -->
                <h5 class="fw-bolder">{{product.name}}</h5>
                <!-- product price -->
                <span >{{product.price}}</span>
                <!-- product description -->
                <div class="mt-2 px-2"> <h6>{{product.Description}}</h6> </div>
            </div>
            <button class="btn btn-outline-dark mt-auto" (click)="addcart(product)" id="addcart" style="color:white">Add to Cart</button>
        </div>
    </div>
</div>
